<div class="home-component">

  <div class="container">

    <h5>The rules are simple</h5>

    <p>To win the game you need to:</p>

    <ol class="rules-list">

      <li>
        Guess a number in range from <input type="number" [(ngModel)]="min" (ngModelChange)="startNewGame()"
                                            placeholder="min"> to <input
        type="number"
        [(ngModel)]="max" (ngModelChange)="startNewGame()"
        placeholder="max"> <span *ngIf="min > max">Warning! Min should be lesser then Max</span>
      </li>

      <li>You have only 3 attempts (<b>{{attempts}}</b> attempts left)</li>

    </ol>


    <h5>Enter a number</h5>

    <div>

      <input type="number" [(ngModel)]="playerGuess" [disabled]="status != ''">

      <button type="submit" (click)="guess()" [disabled]="status != ''">Submit</button>

    </div>

    <div *ngIf="status == 'lose'">
      <p>You lose</p>
      <a (click)="startNewGame()">Try again</a>
    </div>

    <div *ngIf="status == 'win'">
      <p>You win! Congratulations</p>
      <a (click)="startNewGame()">Play more</a>
    </div>

  </div>


</div>
