<div class="login-component">


  <div class="card">

    <div class="card-content">

      <div class="card-title">Вход</div>

      <div class="row">

        <div>
          <label for="">Логин</label>
          <input type="text" [(ngModel)]="username" (keyup)="error = false">
        </div>

        <div>
          <label for="">Пароль</label>
          <input type="password" [(ngModel)]="password" (keyup)="error = false">
        </div>

        <div class="row card-footer">
          <button class="waves-effect waves-light btn" [disabled]="!checkButton()" (click)="login()">Войти</button>
        </div>

        <div *ngIf="error" class="auth-error">
          <p>Authorization error</p>
        </div>

      </div>

    </div>


  </div>


</div>
